<!--<p-fieldset legend="帖子">-->
<!--  <div *ngFor="let post of postList">-->
<!--    <p-panel header="{{post.title}}" [toggleable]="true" [collapsed]="true">-->
<!--      <ng-template pTemplate="icons">-->
<!--        <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">-->
<!--          <span class="pi pi-cog"></span>-->
<!--        </button>-->
<!--        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>-->
<!--      </ng-template>-->
<!--      <div (click)="viewDetail(post.id)">-->
<!--        {{post.content}}-->
<!--      </div>-->
<!--    </p-panel>-->
<!--    <h6>  </h6>-->
<!--  </div>-->
<!--</p-fieldset>-->
